<section class="game">
	<section data-ng-show="!game.name" class="no-items">
		Oooops!!! Seems there's a problem showing the game details.<br />
			<button type="button" data-ng-click="game.showGallery()">Back To Gallery</button>
	</section>
	<section data-ng-hide="!game.name">
		<header class="game__title">
			<h1>{{game.name}}</h1>
		</header>
		<section class="game__main">
			<img data-ng-src="{{game.imageBig}}" error-Src="img/imageError_764x260.jpg">
			<div class="game__main__details">
				<p><span>" Lorem Ipsum dolor sit amet"</span></p>
				<button type="button" data-ng-click="game.playGame()">Play</button>
			</div>
		</section>
		<section class="game__details">
			<article class="game__detail">
				<label>screenshots</label>
				<img data-ng-src="{{game.screenshot}}">
				Lorem Ipsum ...
			</article>
			<article class="game__detail">
				<label>more details</label>
				<img data-ng-src="{{game.image}}">
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat blandit velit, eget imperdiet massa. Donec id dui vel sem iaculis sollicitudin id in orci. Cras aliquet convallis tortor quis accumsan. Curabitur mollis turpis lorem, eu interdum elit iaculis at. Etiam sit amet felis nisi. Aliquam in ullamcorper dui, eget pellentesque enim. Maecenas sed dictum metus, non venenatis lorem.
				</p>
			</article>
		</section>
	</section>
	
</section>    